<div id="container" class="container card">
    <div id="head">
        <h1>Angular In-App Map</h1>
        <p>This map is a product of Google Maps API</p>
    </div>
    <div class="card" id="map">
        <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude" *ngIf="locationChoosen">

            </agm-marker>
        </agm-map>
    </div>

</div>
<footer class="container card" id="foot">Created by Nelson Omoniyi &copy; 2022</footer>